*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
    background: linear-gradient(135deg, #1b0033, #012d41);
}





.hero{
  min-height: 100vh;
  background: linear-gradient(135deg, #1b0033, #012d41);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

position: relative;
  animation: hero-gradient-animation 15s ease infinite;


}



header{
    width: 99%;
    margin-left: 10px;
    border-radius: 100px;
    height: 70px;
    padding: 20px 40px;
   backdrop-filter: blur(7px);
   margin-top: 10px;
    position: fixed;
    transition: all 1s ease;
    flex-wrap: wrap;
    z-index: 999;
   
}



.skills-section {
  padding: 100px 10%;
  color: white;
      background: linear-gradient(511deg, #1b0033, #012d41);

}

.skill {
  margin-bottom: 25px;
}

.skill span {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.progress {
  width: 100%;
  height: 14px;
  background: rgba(255,255,255,0.1);
  border-radius: 10px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  width: 0;
  background: linear-gradient(90deg, #00f5ff, #ff4ecd);
  border-radius: 10px;
  transition: width 1.5s ease;
}




.t7t{
  
    background: linear-gradient(35deg, #1b0033, #012d41);

  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}




.skls{
      display: flex;
    align-items: center;
    color: #00adb5;
    font-size: 18px;
    gap: 10px;
    margin-top: 20px;
    margin-left: 29px;
    
    width: 662px;

}
.sklss{
    background: #ffffff2e;
    padding: 10px;
    border-radius: 20px;
    color: #00ecf7;

transition: margin-top 0.3s ease;
    
}


.txtt{
      margin-top: 373px;
    margin-left: -291px;
}


.anaa{
      font-size: 38px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #00adb5;
    text-align: center;
}




.ff{
      text-align: center;
    font-size: 20px;
    color: white;
    margin-top: 10px;
    font-weight: 800;
}


.hh{
  opacity: 0.3;
  width: 94%;
  margin-left: 21px;
}

.hr{
  opacity: 0.1;
}






nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


.logo{
    color: white;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 5px;
}
  

.about{
         font-size: 50px;
    color: wheat;
    margin: 20px;
    margin-left: 199px;
    width: 244px;
    margin-top: -376px;

}

.about-my{
    


    font-size: 23px;
    width: 600px;
    text-align: center;
    align-items: center;
    color: #ffffffc9;
    margin-left: 36px;
    line-height: 30px;
    font-weight: 700;
    margin-top: 20px;
   
}

.yuosef{
width: 417px;
    margin-left: 214px;
    border-radius: 50px;
    background: #aaaaaa2b;
    height: 435px;
    filter: drop-shadow(0 -8px 4px black);
    margin-top: 64px;
    transition: all 0.3s ease;
     
}



nav a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: all 0.3s ease;
    margin-bottom: 7px;
    font-size: 18px;
}

nav a::after{
    content: '';
    width: 0%;
    height: 1.5px;
    background-color: #ff4d6a;
    display: block;
    transition: all 0.3s ease;
}
nav a:hover::after{
    width: 100%;
  
}

.deg a{
  display: table-header-group;
}


.deg:hover li a{
  display: block;
}

nav a:hover{
    color: #ff4d6a;
}


nav a:hover::after{
    width: 100%;
  
}
.spn{
  color: #00adb5;
}
.active{
    color: #00adb5;
}
.toasl{
    /* margin-left: 63px; */
    border: none;
    margin-top: 17px;
    padding: 15px 27px;
    border-radius: 40px;
    background: #00adb5;
    backdrop-filter: blur(100px);
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 5px 10px 2px #00000052;
    color: #ffffffd4;
    display: inline-block;
    text-decoration: none;
    align-items: center;
    transition: all 0.3s ease;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);


}


.cv{
     

    border: none;
    margin-top: 17px;
    padding: 15px 27px;
    border-radius: 40px;
  background: #eeeeee54;
    backdrop-filter: blur(100px);
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 5px 10px 2px #00000052;
    color: #ffffffd4;
    display: inline-block;
    text-decoration: none;
    align-items: center;
    transition: all 0.3s ease;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}



.cv:hover{
transform: translateY(-3px);
  box-shadow: 0 8px 20px #eeeeee40;
}



.cv svg{
  width: 25px;
  height: 25px;
  margin-left: 6px;
  margin-bottom: -4px;
}




.toasl:hover{

   transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(0, 255, 213, 0.4);
  font-weight: 700;
}

.toasl:active{
  transform: translateY(2px);
    box-shadow: 0 5px 10px 2px #0000002c;

}


.hero-text{
  flex-direction: column;
    justify-content: center;
    padding-top: 265px;
    padding-left: 58px;
    width: 511px;

    animation: aa 1s ease forwards;
 transform: translateY(150px);



}


@keyframes aa{
  0%{
    transform: translatey(150px);
    opacity: 0.3;
  }
  

  100%{
    transform: translatey(-7px);
    opacity: 0.9;
  }
}

.hed{
    font-size: 45px;
    font-weight: 700;
    color: white;
    display: flex;
    flex-wrap: nowrap;
    width: 520px;
}

.mey{
font-size: 39px;
    padding-left: 139px;
    padding-top: 9px;
    color: white;
    margin-top: 20px;
    margin-bottom: 10px;
}

.ana{
    font-size: 38px;
    font-weight: 800;
    color: #ffffff;
    text-align: center;
}

button{
  margin-top: 10px;
}


.im{
    width: 657px;
    margin-left: 933px;
     margin-top: -302px;
    display: flex;
    border-radius: 383px;
    opacity: 0;
    animation: ana 1s ease forwards 1s;
    flex-wrap: wrap;


      /* width: 520px;
  max-width: 100%;
  height: auto;
  opacity: 0;
  animation: ana 1s ease forwards 1s; */

}

    .hero-text{
          flex-direction: column;
    justify-content: center;
    padding-top: 265px;
    padding-left: 58px;
    display: flex;
    align-items: center;
    width: auto;
    text-align: center;
    animation: aa 1s ease forwards;
    }

    .txtt{
      flex-wrap: wrap;
    }

     .btns{
              display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
    }


    .btns > * {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  min-width: 160px;
}

  









@keyframes ana {
    0%{
        transform: translateY(100px);

        opacity: 0;
    }

    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}


















  .stng::after{
    content: '';
    width: 0%;
    height: 1.5px;
    background-color: #ff4d6a;
    display: block;
    transition: all 0.3s ease;
}


.stng:hover::after{
    width: 20%;
}

.im{
     display: none;
    }

    .about-my{
      flex-wrap: wrap;
    }
    .t7t{
      flex-wrap: wrap;
    }

/* } */






@keyframes hero-gradient-animation {
    0% {
        --s-start-0: 9.249139871209511%;
        --s-end-0: 15.387003692900368%;
        --x-0: 49%;
        --c-0: hsla(178.6764705882354, 100%, 50%, 1);
        --y-0: 47%;
        --c-1: hsla(178.6764705882354, 100%, 50%, 1);
        --s-start-1: 9.249139871209511%;
        --s-end-1: 15.387003692900368%;
        --x-1: 49%;
        --y-1: 47%;
        --c-2: hsla(335.2040816326531, 85%, 54%, 1);
        --x-2: 51%;
        --y-2: 64%;
        --s-start-2: 9.249139871209511%;
        --s-end-2: 26.736196127535965%;
    }

    100% {
        --s-start-0: 9.249139871209511%;
        --s-end-0: 15.387003692900368%;
        --x-0: 49%;
        --c-0: hsla(178.67647058823545, 90%, 76%, 1);
        --y-0: 47%;
        --c-1: hsla(178.6764705882354, 61%, 40%, 1);
        --s-start-1: 9.249139871209511%;
        --s-end-1: 15.387003692900368%;
        --x-1: 65%;
        --y-1: 50%;
        --c-2: hsla(316.32352941176475, 100%, 63%, 1);
        --x-2: 59%;
        --y-2: 39%;
        --s-start-2: 9.249139871209511%;
        --s-end-2: 15.387003692900368%;
    }
}

@property --s-start-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 9.249139871209511%
}

@property --s-end-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 15.387003692900368%
}

@property --x-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 49%
}

@property --c-0 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(178.6764705882354, 100%, 50%, 1)
}

@property --y-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 47%
}

@property --c-1 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(178.6764705882354, 100%, 50%, 1)
}

@property --s-start-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 9.249139871209511%
}

@property --s-end-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 15.387003692900368%
}

@property --x-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 49%
}

@property --y-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 47%
}

@property --c-2 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(335.2040816326531, 85%, 54%, 1)
}

@property --x-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 51%
}

@property --y-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 64%
}

@property --s-start-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 9.249139871209511%
}

@property --s-end-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 26.736196127535965%
}

.your_css_selector_here {
    --x-0: 49%;
    --c-0: hsla(178.6764705882354, 100%, 50%, 1);
    --y-0: 47%;
    --c-1: hsla(178.6764705882354, 100%, 50%, 1);
    --x-1: 49%;
    --y-1: 47%;
    --c-2: hsla(335.2040816326531, 85%, 54%, 1);
    --x-2: 51%;
    --y-2: 64%;
    ;
    background-color: hsla(256.00000000000006, 0%, 100%, 0);
    background-image: radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) var(--s-start-0), transparent var(--s-end-0)), radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) var(--s-start-1), transparent var(--s-end-1)), radial-gradient(circle at var(--x-2) var(--y-2), var(--c-2) var(--s-start-2), transparent var(--s-end-2));
    animation: hero-gradient-animation 10s linear infinite alternate-reverse;
    background-blend-mode: normal, normal, normal;
}





.reveal {
  opacity: 0;
  transform: translateY(40px);
  filter: blur(8px);
  transition: all 0.8s ease;
}

.reveal.activ {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0);
}



@media (max-width: 992px) {
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .hero-text {
    padding: 160px 20px 40px;
    width: 100%;
    transform: none;
  }

  .im {
    margin: 5px auto 0;
    width: 80%;
    max-width: 400px;
  }

  .btns {
    margin-left: 0;
  }



    .hero{
    flex-direction: column;
    text-align: center;
  }

  .hero-text{
    width: 100%;
  }

  .im{
    margin-top: 40px;
    width: 320px;
  }
}


@media (max-width: 576px) {
  .btns {
    flex-direction: column;
  }

  .btns > * {
    width: 100%;
    max-width: 260px;
    margin-left: 0 !important;
  }
}


@media (max-width: 992px) {
  .t7t {
    flex-direction: column;
    padding: 60px 20px;
    text-align: center;
  }

  .txtt {
    margin: 0;
  }

  .about {
    margin: 0 auto 20px;
  }

  .about-my {
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
  }

  .skls {
    flex-direction: column;
    width: 100%;
    margin-left: 0;
    align-items: center;
  }

  .yuosef {
    margin: 40px auto 0;
    width: 260px;
    height: auto;
  }
}


@media (max-width: 576px) {
  header {
    padding: 15px;
    border-radius: 0;
    width: 100%;
    left: 0;
  }

  nav {
    justify-content: center;
    gap: 15px;
  }

  nav span {
    display: none;
  }

  .logo {
    font-size: 22px;
  }

  .ana {
    font-size: 32px;
  }

  .anaa {
    font-size: 24px;
  }

  .ff {
    font-size: 16px;
  }

  .im {
    display: none;
  }

  .projects {
    padding: 80px 20px;
  }

  .projects-grid {
    margin-top: 60px;
  }

  .experience {
    padding: 80px 20px;
        background: linear-gradient(54deg, #1b0033, #012d41);
  }

  .footer {
    padding: 40px 20px;
    text-align: center;
        background: linear-gradient(128deg, #1b0033, #012d41);
  }

  .footer-container {
    gap: 20px;
  }
}



























 .projects {
  padding: 100px 10%;
      background: linear-gradient(135deg, #1b0033, #012d41);
 min-height: 100vh;
}

.section-title {
     text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
    color: white;
}

.section-desc {
      text-align: center;
    opacity: 0.7;
    margin-bottom: 60px;
    color: wheat;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
      margin-top: 172px;
}

.project-card {
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 25px;
  transition: 0.4s;
}

.project-card:hover {
  transform: translateY(-10px);
  background: rgba(255,255,255,0.08);
}

.project-card h3 {
  margin-bottom: 10px;
}

.project-tech {
  margin: 15px 0;
}

.project-tech span {
  font-size: 13px;
  padding: 5px 10px;
  border-radius: 20px;
  background: rgba(0,255,255,0.15);
  margin-right: 5px;
}

.project-links {
  display: flex;
  gap: 10px;
}

.btn {
  padding: 8px 18px;
  border-radius: 20px;
  background: linear-gradient(90deg,#00f5ff,#ff4ecd);
  color: #000;
  font-weight: 600;
  text-decoration: none;
}

.btn.outline {
  background: transparent;
  border: 1px solid #00f5ff;
  color: #fff;
}

.experience {
  padding: 100px 8%;
  color: #fff;
  min-height: 80vh;
        background: linear-gradient(54deg, #1b0033, #012d41);

}

.section-title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 60px;
}

.exp-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  margin-top: 100px;
}

.exp-card {
  background: rgba(255, 255, 255, 0.06);
  border-radius: 20px;
  padding: 30px;
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255,255,255,0.1);
}

.exp-card h3 {
  color: #27e0d6;
  margin-bottom: 15px;
}

.exp-card ul {
  padding-left: 20px;
}

.exp-card li {
  margin-bottom: 10px;
  opacity: 0.9;
}




.footer {
  margin-top: 10px;
  padding: 60px 8% 20px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(20px);
  color: #fff;
        background: linear-gradient(128deg, #1b0033, #012d41);

}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 40px;
}

.footer-box h3,
.footer-box h4 {
  margin-bottom: 15px;
  color: #27e0d6;
}

.footer-box p {
  font-size: 14px;
  opacity: 0.85;
}

.footer-box ul {
  list-style: none;
  padding: 0;
}

.footer-box ul li {
  margin-bottom: 10px;
}

.footer-box ul li a {
  color: #fff;
  text-decoration: none;
  opacity: 0.8;
  transition: 0.3s;
}

.footer-box ul li a:hover {
  opacity: 1;
  color: #27e0d6;
}

.socials a {
  font-size: 22px;
  margin-right: 15px;
  text-decoration: none;
  transition: 0.3s;
}

.socials a:hover {
  transform: translateY(-5px);
}

.footer-bottom {
  text-align: center;
  margin-top: 40px;
  font-size: 13px;
  opacity: 0.6;
}


.socials svg{
  width: 30px;
  height: 30px;
  transition: all 0.3s ease;
}


.socials svg:hover{
  transform: translateY(-5px);
  color: #27e0d6;
}












.contact{
  padding: 100px 8%;
  min-height: 90vh;
  background: linear-gradient(135deg, #1b0033, #012d41);
  color: #fff;
}

.contact-container{
  margin-top: 70px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  align-items: start;
}

.contact-info,
.contact-form{
  background: rgba(255,255,255,0.06);
  border: 1px solid rgba(255,255,255,0.1);
  border-radius: 20px;
  padding: 30px;
  backdrop-filter: blur(15px);
  text-align: center;
 
}

.contact-info h3{
  color: #27e0d6;
  margin-bottom: 10px;
  font-size: 22px;
}

.contact-info p{
  opacity: 0.85;
  margin-bottom: 20px;
  line-height: 1.6;
}

.contact-links{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.contact-link{
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  color: #fff;
  padding: 12px 14px;
  border-radius: 14px;
  background: rgba(255,255,255,0.05);
  transition: 0.3s;
}

.contact-link i{
  color: #27e0d6;
  font-size: 18px;
}

.contact-link:hover{
  transform: translateY(-3px);
  background: rgba(255,255,255,0.09);
}


.contact-btn{
  margin-top: 12px;
  width: 100%;
  padding: 14px 16px;
  border-radius: 16px;
  border: none;
  cursor: pointer;
  font-weight: 700;
  background: linear-gradient(90deg,#00f5ff,#ff4ecd);
  color: #000;
  transition: 0.3s;
}

.contact-btn:hover{
  transform: translateY(-3px);
}



@media (max-width: 992px){
  .contact-container{
    grid-template-columns: 1fr;
  }
  .contact-form .form-row{
    grid-template-columns: 1fr;
  }
}




#toTop{
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;

  background: linear-gradient(135deg,#00adb5,#00f5ff);
  color: #000;

  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
  display: none;
  z-index: 9999;
  transition: all 0.3s ease;
}

#toTop:hover{
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(0,255,255,0.4);
}




@media (max-width: 1550px){
   .t7t {
    flex-direction: column;
    padding: 60px 20px;
    text-align: center;
  }

  .txtt {
    margin: 0;
  }

  .about {
    margin: 0 auto 20px;
  }

  .about-my {
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
  }

  .skls {
    flex-direction: column;
    width: 100%;
    margin-left: 0;
    align-items: center;
  }

  .yuosef {
    margin: 40px auto 0;
    width: 260px;
    height: auto;
  }
}



@media (max-width: 900px) {
  .skills-section {
    padding: 80px 6%;
  }

  .skill span {
    font-size: 16px;
  }

  .progress {
    height: 12px;
  }
}

/* موبايل */
@media (max-width: 600px) {
  .skills-section {
    padding: 60px 5%;
  }

  .section-title {
    font-size: 28px;
  }

  .skill {
    margin-bottom: 20px;
  }

  .skill span {
    font-size: 15px;
  }

  .progress {
    height: 10px;
  }
}

/* موبايل صغير */
@media (max-width: 400px) {
  .section-title {
    font-size: 24px;
  }

  .skill span {
    font-size: 14px;
  }
}



